<a href="https://colab.research.google.com/github/gabrielrflopes/estudos/blob/main/Data_Visualization_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IBM Data Visualization with Python

Data visualization has to be:

- Effective
- Impactive 
- Attractive

When creating a visual, always remember:

- Less is more effective
- Less is more impactive
- Less is more attractive

## Matplotlib

Matplotlib architecture is composed of three main parts:

-  Backend Layer
-  Artist Layer
-  Scripting Layer

1. The backend layer: Has three built-in abstract interfaces classes:
  - FigureCanvas: Encompasses the area onto which the figure is drawn.
  - Renderer: Knows how to draw on the FigureCanvas.
  - Event: Handles user inputs such as keyboards strokes and mouse clicks.
2. Artist layer
  - Composed of one main object - **Artist**
  - Knows how to use the Renderer to draw on the canvas
  - Title, tick labels, and images, all correspond to individual **Artist** instances.
  - Two types of Artist objects: primitive (circle, rectangle, line, etc) and composite (axis, tick, Axes and Figure)
  - Each composite artist may contain other composite artists as well as primitive artists.
3. Scripting layer
  - Comprised mainly of pyplot, a scripting interface that is ligher than the Artist layer.

### Basic plotting with Matplotlib

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [12]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (2.0.1)

- **Importing the data on immigration to Canada**

In [18]:
data = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx'

df_cnd = pd.read_excel(data, sheet_name = 'Canada by Citizenship', 
                       skiprows = range(20), skipfooter = 2, )

df_cnd.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [ ]:
# lineplot is used for continuous variables, with a series of datapoints connected through time